<nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary " style="z-index: 100;">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand fs-3 text-dark" href="#">
      <i class="fas fa-paw "></i> Huellitas Amigables </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link active fs-5 text-dark" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item mx-3">
          <a  class="nav-link fs-5 text-dark " href="/animales">En adopción</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-5 text-dark" href="#">Conoce Más</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-5 text-dark" href="/login  ">Contacto</a>
        </li>
      </ul>

      <div class="d-flex ms-auto">
        <button type="button" class="btn btn-outline-light me-2">Ingresar</button>
        <button type="button" class="btn btn-light">Registrarse</button>
      </div>
    </div>
  </div>
</nav>
