
<div class="container mt-5">
    <h2 class="text-center mb-4">¿Por qué adoptar?</h2>
  
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="https://c0.wallpaperflare.com/preview/876/651/662/street-forest-pink-tonge.jpg" class="card-img-top" alt="Adopta un perro">
          <div class="card-body">
            <h5 class="card-title">Amor incondicional</h5>
            <p class="card-text">Los animales adoptados te brindarán un amor incondicional y una lealtad inquebrantable.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="https://watermark.lovepik.com/photo/20211203/large/lovepik-bernese-mountain-dog-picture_501488822.jpg" class="card-img-top" alt="Adopta un gato">
          <div class="card-body">
            <h5 class="card-title">Compañía y diversión</h5>
            <p class="card-text">Los animales adoptados te brindarán compañía, diversión y momentos inolvidables.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg" class="card-img-top" alt="Adopta una mascota">
          <div class="card-body">
            <h5 class="card-title">Un hogar lleno de alegría</h5>
            <p class="card-text">Los animales adoptados llenarán tu hogar de alegría, amor y risas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>