<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Enter name" formControlName="name" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
